sleep from time library to delay API calls

In [1]:
import pandas as pd
import requests
import json
import time
import timeit

In [2]:
api_key = open('api_key.txt', 'r')
api_key.close()

In [3]:
access_token = open('read_access_token.txt', 'r')
access_token.close()

In [4]:
movie_data = pd.read_csv('data/movie_data_cleaned.csv')

In [5]:
movie_data = movie_data.set_index('id')

In [27]:
all_id = movie_data.index[:]

In [28]:
all_id

Index([    539,     967,     966,     284,     439,    2134,   11167,     269,
          8422,   11656,
       ...
        881164,  805320,  852096,  703451,  866413, 1026227,  693134,  933131,
        866398,  955916],
      dtype='int64', name='id', length=6499)

In [6]:
movie_data

,title,vote_average,vote_count,release_date,year,month,genre_ids,original_language,popularity
id,,,,,,,,,
539,Psycho,8.434,9611,1960-06-22,1960,6,"[27, 53, 9648]",en,45.419
967,Spartacus,7.500,2021,1960-10-13,1960,10,"[36, 10752, 18, 12]",en,44.258
966,The Magnificent Seven,7.500,1664,1960-10-12,1960,10,"[37, 28, 12]",en,39.267
284,The Apartment,8.214,2119,1960-06-21,1960,6,"[35, 18, 10749]",en,29.572
439,La Dolce Vita,8.121,1737,1960-02-05,1960,2,"[35, 18]",it,26.894
...,...,...,...,...,...,...,...,...,...
1026227,There's Still Tomorrow,8.295,645,2023-10-26,2023,10,"[35, 18]",it,14.304
693134,Dune: Part Two,8.549,569,2024-02-27,2024,2,"[28, 12, 878]",en,1654.303
933131,Badland Hunters,6.800,511,2024-01-25,2024,1,"[878, 28, 18]",ko,539.911
866398,The Beekeeper,7.400,1493,2024-01-10,2024,1,"[28, 53, 18]",en,435.753
955916,Lift,6.600,886,2024-01-10,2024,1,"[28, 35, 80]",en,245.817

In [7]:
def get_movie_info(movie_id):
    columns = ['id', 'budget', 'revenue', 'runtime', 'cast', 'director_id']
    
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US&append_to_response=credits,keywords"
    
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NGM4MjVjZTU5ZDA2YjIzYTdlMzczOGU1MGNhOGFhMCIsInN1YiI6IjY1ZGMwZDE5ZWQyYWMyMDE4NzQxNGVhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SZIWv6_5EAiu9zVDGYgv3SRZuA7fFgMztV0Bd1K_s4A"
    }
    
    response = requests.get(url, headers=headers)
    call_json = json.loads(response.text)
    call_df = pd.DataFrame([call_json])
    
    call_cast = call_df['credits'][0]['cast']
    movie_cast = []
    for i in range(len(call_cast)):
        movie_cast.append(call_cast[i].get('id'))
    call_df['cast'] = [movie_cast]
    
    call_crew = call_df['credits'][0]['crew']
    director_id = None
    
    for person in call_crew:
        if person.get('job') == 'Director':
            director_id = person.get('id')
            break
    call_df['director_id'] = director_id
    
    movie_detail = call_df[columns]
    movie_detail = movie_detail.set_index('id')
    return movie_detail

In [8]:
get_movie_info(693134)

,budget,revenue,runtime,cast,director_id
id,,,,,
693134,190000000,178000000,167,"[1190668, 505710, 933238, 16851, 86654, 137373...",137427

In [20]:
first20_df = pd.DataFrame()

In [29]:
movie_details = pd.DataFrame()
for id in all_id:
    movie_info = get_movie_info(id)
    movie_details = pd.concat([movie_details, movie_info])
    time.sleep(0.04)

movie_details

,budget,revenue,runtime,cast,director_id
id,,,,,
539,806947,32000000,109,"[7301, 7302, 7303, 7304, 1936, 53010, 14063, 7...",2636
967,12000000,60000000,197,"[2090, 3359, 14500, 10921, 14501, 7304, 3150, ...",240
966,2000000,4905000,127,"[14528, 3265, 13565, 4960, 14060, 14529, 5563,...",14520
284,3000000,25000000,125,"[3151, 4090, 4091, 4093, 4094, 571911, 4097, 3...",3146
439,0,19647000,176,"[5676, 5961, 5682, 5962, 5963, 5964, 5965, 596...",4415
...,...,...,...,...,...
1026227,9000000,38825277,118,"[133214, 56843, 2635684, 1689522, 128227, 1316...",133214
693134,190000000,178000000,166,"[1190668, 505710, 933238, 16851, 86654, 137373...",137427
933131,0,0,107,"[1024395, 1046863, 1904058, 1257587, 2121601, ...",2879867
866398,35000000,149645000,105,"[976, 2026050, 1375501, 27972, 16940, 1497913,...",19769
955916,0,0,107,"[55638, 1216606, 65731, 7132, 1042728, 141034,...",37932

In [32]:
movie_details.to_csv('data/movie_details.csv')

In [33]:
movie_data = movie_data.merge(movie_details, how='left', on='id')

In [34]:
movie_data

,title,vote_average,vote_count,release_date,year,month,genre_ids,original_language,popularity,budget,revenue,runtime,cast,director_id
id,,,,,,,,,,,,,,
539,Psycho,8.434,9611,1960-06-22,1960,6,"[27, 53, 9648]",en,45.419,806947,32000000,109,"[7301, 7302, 7303, 7304, 1936, 53010, 14063, 7...",2636
967,Spartacus,7.500,2021,1960-10-13,1960,10,"[36, 10752, 18, 12]",en,44.258,12000000,60000000,197,"[2090, 3359, 14500, 10921, 14501, 7304, 3150, ...",240
966,The Magnificent Seven,7.500,1664,1960-10-12,1960,10,"[37, 28, 12]",en,39.267,2000000,4905000,127,"[14528, 3265, 13565, 4960, 14060, 14529, 5563,...",14520
284,The Apartment,8.214,2119,1960-06-21,1960,6,"[35, 18, 10749]",en,29.572,3000000,25000000,125,"[3151, 4090, 4091, 4093, 4094, 571911, 4097, 3...",3146
439,La Dolce Vita,8.121,1737,1960-02-05,1960,2,"[35, 18]",it,26.894,0,19647000,176,"[5676, 5961, 5682, 5962, 5963, 5964, 5965, 596...",4415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026227,There's Still Tomorrow,8.295,645,2023-10-26,2023,10,"[35, 18]",it,14.304,9000000,38825277,118,"[133214, 56843, 2635684, 1689522, 128227, 1316...",133214
693134,Dune: Part Two,8.549,569,2024-02-27,2024,2,"[28, 12, 878]",en,1654.303,190000000,178000000,166,"[1190668, 505710, 933238, 16851, 86654, 137373...",137427
933131,Badland Hunters,6.800,511,2024-01-25,2024,1,"[878, 28, 18]",ko,539.911,0,0,107,"[1024395, 1046863, 1904058, 1257587, 2121601, ...",2879867
866398,The Beekeeper,7.400,1493,2024-01-10,2024,1,"[28, 53, 18]",en,435.753,35000000,149645000,105,"[976, 2026050, 1375501, 27972, 16940, 1497913,...",19769
955916,Lift,6.600,886,2024-01-10,2024,1,"[28, 35, 80]",en,245.817,0,0,107,"[55638, 1216606, 65731, 7132, 1042728, 141034,...",37932

In [44]:
movie_data.replace(0, pd.NA, inplace=True)

In [46]:
movie_data.isna().sum()

title                   0
vote_average            0
vote_count              0
release_date            0
year                    0
month                   0
genre_ids               0
original_language       0
popularity              0
budget               1407
revenue              1173
runtime                 0
cast                    0
director_id             0
dtype: int64

In [48]:
movie_data.to_csv('data/movie_data_combined.csv')

In [1]:
movie_data['budget'].describe()

NameError: name 'movie_data' is not defined