In [1]:
import pandas as pd
import requests
import json

In [2]:
api_key = open('api_key.txt', 'r')
print(api_key.readline())
api_key.close()

54c825ce59d06b23a7e3738e50ca8aa0

In [3]:
access_token = open('read_access_token.txt', 'r')
print(access_token.readline())
access_token.close()

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NGM4MjVjZTU5ZDA2YjIzYTdlMzczOGU1MGNhOGFhMCIsInN1YiI6IjY1ZGMwZDE5ZWQyYWMyMDE4NzQxNGVhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SZIWv6_5EAiu9zVDGYgv3SRZuA7fFgMztV0Bd1K_s4A

In [4]:
movie_data = pd.read_csv('data/movie_data_cleaned.csv')

In [7]:
movie_data = movie_data.set_index('id')

,title,vote_average,vote_count,release_date,year,month,genre_ids,original_language,popularity,release_date.1,year.1,month.1
id,,,,,,,,,,,,
539,Psycho,8.434,9609,1960-06-22,1960,6,"[27, 53, 9648]",en,56.119,1960-06-22,1960,6
967,Spartacus,7.548,2021,1960-10-13,1960,10,"[36, 10752, 18, 12]",en,46.712,1960-10-13,1960,10
966,The Magnificent Seven,7.500,1664,1960-10-12,1960,10,"[37, 28, 12]",en,41.773,1960-10-12,1960,10
284,The Apartment,8.213,2118,1960-06-21,1960,6,"[35, 18, 10749]",en,25.470,1960-06-21,1960,6
2134,The Time Machine,7.400,769,1960-05-25,1960,5,"[53, 12, 14, 878, 10749]",en,24.991,1960-05-25,1960,5
...,...,...,...,...,...,...,...,...,...,...,...,...
964980,Air,7.360,1644,2023-04-05,2023,4,[18],en,31.512,2023-04-05,2023,4
923939,The Wonderful Story of Henry Sugar,7.230,727,2023-09-20,2023,9,"[35, 12, 14]",en,30.456,2023-09-20,2023,9
866463,Reptile,6.761,707,2023-09-29,2023,9,[80],en,25.388,2023-09-29,2023,9
866398,The Beekeeper,7.426,1480,2024-01-10,2024,1,"[28, 53, 18]",en,442.539,2024-01-10,2024,1
955916,Lift,6.582,882,2024-01-10,2024,1,"[28, 35, 80]",en,214.642,2024-01-10,2024,1