In [1]:
import pandas as pd
import requests
import json

In [2]:
# api_key = open('api_key.txt', 'r')
# print(api_key.readline())
# api_key.close()

In [3]:
access_token = open('read_access_token.txt', 'r')
print(access_token.readline())
access_token.close()

eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NGM4MjVjZTU5ZDA2YjIzYTdlMzczOGU1MGNhOGFhMCIsInN1YiI6IjY1ZGMwZDE5ZWQyYWMyMDE4NzQxNGVhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SZIWv6_5EAiu9zVDGYgv3SRZuA7fFgMztV0Bd1K_s4A

In [4]:
# data = []
# with open('data/movie_ids_02_25_2024.json', 'r') as f:
#     for line in f:
#         data.append(json.loads(line))

In [5]:
# data

In [6]:
# df = pd.DataFrame(data)

In [7]:
# df.drop('adult', axis=1, inplace=True)

In [8]:
# sorted_df = df.sort_values(by='popularity', ascending=False)

In [9]:
# df = df[df['video'] == False]
# df

In [10]:
# url = 'https://api.themoviedb.org/3/configuration'

# headers = {
#     'accept': 'application/json',
#     'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NGM4MjVjZTU5ZDA2YjIzYTdlMzczOGU1MGNhOGFhMCIsInN1YiI6IjY1ZGMwZDE5ZWQyYWMyMDE4NzQxNGVhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SZIWv6_5EAiu9zVDGYgv3SRZuA7fFgMztV0Bd1K_s4A'
# }

# response = requests.get(url, headers=headers)

# print(response.text)

In [11]:
def get_movies(year, page=1):
    all_movies = []
    
    while True:
        url = (
            f'https://api.themoviedb.org/3/discover/movie?'
            f'include_adult=false&include_video=false&language=en-US&page={page}&primary_release_year={year}&sort_by=popularity.desc&'
            f'vote_count.gte=500'
        )
        
        headers = {
            'accept': 'application/json',
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1NGM4MjVjZTU5ZDA2YjIzYTdlMzczOGU1MGNhOGFhMCIsInN1YiI6IjY1ZGMwZDE5ZWQyYWMyMDE4NzQxNGVhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.SZIWv6_5EAiu9zVDGYgv3SRZuA7fFgMztV0Bd1K_s4A'
        }
        
        response = requests.get(url, headers=headers)
        if response.status_code != 200:
            break  # If there's an error with the request, exit the loop
        
        movie_json = response.json()
        all_movies.extend(movie_json['results'])  # Add the results of the current page to the all_movies list
        
        if page >= movie_json['total_pages']:
            break  # Exit the loop if the last page has been reached
        page += 1  # Prepare to fetch the next page
    
    return all_movies

In [12]:
test_data = get_movies(1985)

In [13]:
type(test_data)

list

In [14]:
movie_data = pd.DataFrame()
year = 1960
while year <= 2024:
    temp_df = pd.DataFrame(get_movies(year))
    year += 1
    movie_data = pd.concat([movie_data, temp_df], ignore_index=True)
movie_data = movie_data.set_index('id')
# movie_data = movie_data.loc[movie_data['original_language'] == 'en']
movie_data['year'] = movie_data['release_date'].str.split('-').str[0]
movie_data['month'] = movie_data['release_date'].str.split('-').str[1]
movie_data['year'] = movie_data['year'].astype(int)

In [15]:
movie_data['year'].value_counts()

year
2018    302
2017    284
2014    274
2016    268
2013    262
       ...
1964     12
1961      9
1969      9
1965      8
2024      4
Name: count, Length: 65, dtype: int64

In [16]:
movie_data['year'].value_counts().sort_index()

year
1960     12
1961      9
1962     18
1963     14
1964     12
       ...
2020    199
2021    204
2022    177
2023    128
2024      4
Name: count, Length: 65, dtype: int64

In [17]:
drop_columns = ['adult', 'backdrop_path', 'overview', 'poster_path', 'original_title', 'video']

In [18]:
clean_data = movie_data.drop(drop_columns, axis=1)

In [19]:
cols = [
    'title',
    'vote_average',
    'vote_count',
    'release_date',
    'year',
    'month',    
    'genre_ids',
    'original_language',
    'popularity'
]

In [20]:
sorted_data = clean_data[cols]

In [21]:
sorted_data

,title,vote_average,vote_count,release_date,year,month,genre_ids,original_language,popularity
id,,,,,,,,,
539,Psycho,8.434,9611,1960-06-22,1960,06,"[27, 53, 9648]",en,45.419
967,Spartacus,7.500,2021,1960-10-13,1960,10,"[36, 10752, 18, 12]",en,44.258
966,The Magnificent Seven,7.500,1664,1960-10-12,1960,10,"[37, 28, 12]",en,39.267
284,The Apartment,8.214,2119,1960-06-21,1960,06,"[35, 18, 10749]",en,29.572
439,La Dolce Vita,8.121,1737,1960-02-05,1960,02,"[35, 18]",it,26.894
...,...,...,...,...,...,...,...,...,...
1026227,There's Still Tomorrow,8.295,645,2023-10-26,2023,10,"[35, 18]",it,14.304
693134,Dune: Part Two,8.549,569,2024-02-27,2024,02,"[28, 12, 878]",en,1654.303
933131,Badland Hunters,6.800,511,2024-01-25,2024,01,"[878, 28, 18]",ko,539.911
866398,The Beekeeper,7.400,1493,2024-01-10,2024,01,"[28, 53, 18]",en,435.753
955916,Lift,6.600,886,2024-01-10,2024,01,"[28, 35, 80]",en,245.817

In [25]:
# sorted_data.to_csv('data/movie_data_cleaned.csv')